@import url(http://fonts.googleapis.com/css?family=Audiowide);

#overlay {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200000;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;

    color: #EEEEEE;
    font-size: 14px;
}
.overlay #overlay {
    display: block;
}

.overlay-child {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay-child.visible {
    display: block;
}

#menu .hidden {
    display: none;
}
#menu .menu-item {
    width:  400px;
    padding: 20px;
    margin: 20px auto;
    border: solid 1px #dddddd;
    border-radius: 3px;
    cursor: pointer;
    font-family: Audiowide, "Droid Sans Mono", Verdana, sans-serif;
    color: #98fb98;
    text-shadow: 0 0 0 #98fb98;
    background: rgba(0, 0, 0, 0.5);

    -webkit-transition: text-shadow 400ms, color 400ms;
    -moz-transition: text-shadow 400ms, color 400ms;
}

#menu .menu-item.current {
    text-shadow: 0 0 3px #1f4dff;
    color: #3d69ff;
    /* color: #65a6ff; */
}
