/* menu */
@import "menu.css";

/* cockpit hud */
@import "cockpit.css";

/* radar  */
@import "radar.css";

body {
    background: #000;
    color: #eee;
    padding: 0;
    margin: 0;
    overflow: hidden;

    font-family: Monospace;
    font-size: 10px;
    text-align: center;
}

